<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Ordering Page</title>
    <link rel="stylesheet" href="../styles/orderstyle.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

     <!-- AOS -->
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
 
</head>
<body>

        <div id="nav"></div>
        <h2 class="dishPageTitle">Popular dishes</h2><br>
        <div class="dishContainer">
                <div id="dish"></div>


            <aside class="order-summary">
                <h2>My order</h2>
               <form action="">
                <div class="delivery-location">
                    <input type="text" id="delivery-location" placeholder="Enter your delivery location">
                </div>
                <ul id="cart-items"></ul>
                <div class="total">
                    <p>Total Amount: <span id="total-amount">GH₵0</span></p>
                </div>
                <div class="payment-method">
                    <label for="payment-method">Payment Method:</label>
                    <select id="payment-method">
                        <option value="credit-card">Credit Card</option>
                        <option value="paypal">PayPal</option>
                        <option value="mobile-money">Mobile Money</option>
                    </select>
                </div>
                <button type="submit" class="checkout-btn">Checkout</button>
               </form>
            </aside>
        </div>

    

<script src="../components/footer.js"></script>
<script src="../components/navBar.js"></script>
<script src="../components/dish.js"></script>
</body>
</html>
