<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

     <!-- AOS -->
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/restaurantDetailPage.css">
    
</head>
<body>
    <div class="page">
        <div class="shopDetails">
            <div class="info">
                <h1>Shalom Fast Food</h1>
                <p>Agona Nkwanta</p>
                <h2>Who we are?</h2>
                <p class="aboutInfo">You can’t mention seafood in metro Detroit without tipping a hat to former Nobu chef Lloyd Roberts’ 
                    command of it at Adachi, where Roberts turns out some of the region’s best sushi and Japanese-inspired 
                    dishes. Think yuzu-miso marinated black cod that’s softer than butter, lobster fried rice, and maki rolls 
                    studded with A5 Wagyu. Pro tip: Don’t overlook Adachi’s midweek happy hour for $10 Toki highballs and for 
                    snacks under $15.</p>
            </div>
            <div class="profile">
                <img class="profileImg" src="../img/restaurant-2.png" alt="">
    
            </div>
        </div>
        <h1>Our Menu</h1>

        <div class="menu">
            <div class="menuItem">
                <img src="../img/restaurant-2.png" alt="">
                <h2>Jollof Rice</h2>
            </div>
            <div class="menuItem">
                <img src="../img/restaurant-2.png" alt="">
                <h2>Jollof Rice</h2>
            </div>
            <div class="menuItem">
                <img src="../img/restaurant-2.png" alt="">
                <h2>Jollof Rice</h2>
            </div>
            <div class="menuItem">
                <img src="../img/restaurant-2.png" alt="">
                <h2>Jollof Rice</h2>
            </div>
        </div>

    </div>
    


    <script src="../components/navBar.js"></script>
    <script src="../components/footer.js"></script>
</body>
</html>